<p>Hi!</p>

{{  $loginURL := printf "%s/#login/%s" .BaseURL .LoginToken }}
<p>New modules/versions appeared that match your <a href="{{ $loginURL }}" title="Automatically logs you in, valid for 24 hours.">subscriptions</a>:</p>

<table>
	<tr>
		<th title="Links to the likely URL of the repository, but can guess wrong.">Module</th>
		<th title="Link to documentation at pkg.go.dev">Doc</th>
		<th>Versions</th>
		<th title="Source code diff between latest tagged version and previous tagged version.">Previous</th>
	</tr>
{{ range $mv := .ModuleVersions }}
	<tr>
		<td>{{ if $mv.RepoURL }}<a href="{{ $mv.RepoURL }}">{{ $mv.Module }}</a>{{ else }}{{ $mv.Module }}{{ end }}</td>
		<td><a href="https://pkg.go.dev/{{ $mv.Module }}">Doc</a></td>
		<td>{{ range $v := $mv.Versions }} {{ if $v.TagURL }}<a href="{{ $v.TagURL }}">{{ $v.Version }}</a>{{ else }}{{ $v.Version }}{{ end }}{{ end }}</td>
		<td>{{ if $mv.DiffURL }}Diff: <a href="{{ $mv.DiffURL }}">{{ $mv.DiffVersion }}</a>{{ end }}</td>
	</tr>
{{ end }}
</table>
{{- if .UpdatesTruncated }}
<p>
More than 1000 modules had matching updates, results have been truncated. Caused
either after a (longer) outage or by subscriptions that match many modules.
</p>
{{ end }}

</p>
</p>

<p>
Cheers,<br/>
GopherWatch
</p>
<div style="opacity: .6">
--<br/>
{{ $unsubscribeURL := printf "%s/unsubscribe?id=%s" .BaseURL .User.UpdatesUnsubscribeToken }}<a href="{{ $unsubscribeURL }}">Unsubscribe</a> from future notifications
</div>
