<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>View user</title>
		<style>
		</style>
	</head>
	<body>
		<h1>View user</h1>
		<p><a href="viewuser.csv.zip?email={{ .Email }}">Download as zip with csv</a></p>
{{ range .Types }}
		<h2>{{ .Name }}</h2>
		<table>
			<thead>
				<tr>
				{{ range $f := .Fields }}
					<th>{{ $f }}</th>
				{{ end }}
				</tr>
			</thead>
			<tbody>
			{{ range $r := .Records }}
				<tr>
				{{ range $v := $r }}
					<td>{{ $v }}</td>
				{{ end }}
				</tr>
			{{ end }}
			</tbody>
		</table>
{{ end }}
	</body>
</html>
